header {
    margin-top: -100px;
  }

 header span .custom2{
   background-color: red;
  }
  header img {
    width: 100%;
  }
 
  @media (max-width: 340px){
    header img {
      width: 500%;
      
    }
  }
