section .card {
    width: 35rem;
}

.fejlec-bigpicture {
    font-weight: bold;
    font-size: 2rem;
}


  .swiper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
  }
  
  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .swiper-slide {
    flex: 0 0 auto;
    margin-right: 10px; 
    scroll-snap-align: start;
  }
  
  /* stilus a big cardoknak */
  /* .custom-big {
    width: 100%; 
    max-width: 300px; 
  }
   */

