.row {
    margin-top: 20%;
   
}
.card {
    /* width: 25%; */
    width: 29rem;
}

.card img {
    cursor: pointer;
}
.custom {
    height: 80%;
}

.af1:hover {
    content: url("card-img/card-airforce1.jpg");
}