/* best seller sor */

.row {
    margin-top: 20%;
    margin-left: 5%;
   
}

.card {
    /* width: 25%; */
    width: 26rem;
}


/* különleges sor */




.card img {
    cursor: pointer;
}



.custom {
    height: 80%;
}


.bestseller {
    font-weight: bold;
     font-size: 3rem; 
}


.af1:hover {
    content: url(card-img/card-airforce1-front.jpg);
}

@media (max-width: 767px) {
    .card {
      width: 50%;
    }
  }

  @media (max-width: 1250px) {
    .card {
      width: 50%;
    }
  }