 .offcanvas-header1 .btn-close {
  margin-left: -3px;
  margin-top: 2px;
  border: 0.3px ridge grey;
  border-radius: 40px;
}

 .offcanvas-start1 {
  margin-left: 2%;
  margin-top: 4%;
  height: 96%;
} 

ul {
  list-style-type: none;
}

li {
  font-size: 40px;
  cursor: pointer;
}

li:hover {
text-decoration: underline solid 1px black;

}



.kosar {
  margin-left: 42%;
  margin-top: 3%;
  font-size: 18px;
  font-weight: bold;
}


.customoffcanvas {
  margin-left: 2%;
}

 .offcanvas {
  margin-right: 2%;
  margin-top: 1%;
  height: 96%;
} 





.custom input {
padding: 10px;
}

.custom input::placeholder {
font-size: larger;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.offcanvas-body3 span {
margin-left: 50%;
font-size: 55px;
margin-top: 40%;

}



 .offcanvas-body3  .number {
margin-left: 62%;
margin-top: -6%;
background-color: black;
border-radius: 40px;
width: 18px;
color: white;
text-align: center;
} 


