




  .btn-secondary {
    position: relative;
    left: 550px; /* Move the button 50px to the left */
    background: none;
    color: rgb(85, 84, 84);
    border: none;
  }


  .btn-secondary {
    background: none;
    color: rgb(85, 84, 84);
    border: none;

  }

  .btn-primary {
    background: none;
    color: rgb(85, 84, 84);
    border: none;
  }
  .offcanvas {
    margin-left: 0.4%;
    margin-top: 0.4%;
    height: 96%;
  }


  .navbar {
    position: relative;
  }

  .navbar-brand {
    position: absolute;
    left: 900px; /* Move the logo 100px to the left */
  }

  @media (max-width: 768px) {
    .navbar-brand {
      position: static; /* Reset position for small screens */
      padding-left: 20px; /* Add padding instead of absolute positioning */
      display: flex;
      align-items: center;
    }


    .btn-secondary {
        left: 0; /* Reset positioning for small screens */
        position: static;
        margin-left: -20px; /* Adjust margin instead of relative positioning */
        
      }
  }