a {
  text-decoration: none;
  color: black;
}




.custom-background-white {
  background-image: url(shoe-buying-img/card-airforce1-removebg-preview.png);
  background-size: cover; /* Adjusts the background image size */
  background-position: center bottom 90%;
  background-size: 20%;
  background-repeat: no-repeat;
}


.custom-background-black {
  background-image: url(shoe-buying-img/card-af1-black-renovebg.png);
  background-size: cover; /* Adjusts the background image size */
  background-position: center bottom 103%;
  background-size: 20%;
  background-repeat: no-repeat;
}



@media (max-width: 1300px) {
  .custom-background-white {
    background-image: none; 
  }
}


a:visited {
  color: grey;
}


/* navbar  !important*/

/* nav  */



.btn-secondary {
    position: relative;
    left: 500px; /* Move the button 50px to the left */
    background: none;
    color: white;
    border: none;
  }
  
  .btn-secondary {
    background: none;
    color: white;
    border: none;
  }
  .btn-third {
    color: white;
  }
  
  .btn-primary {
    background: none;
    color: white;
    border: none;
  }
  .dropdown-menu li {
   text-decoration: none;
  }
  
  
  
  
  
  .navbar {
    position: relative;
    background-color: transparent; /* Set the background color as transparent */
    z-index: 4000;
  
  }
  
  .navbar-brand {
    position: absolute;
    margin-left: 260px; /* Move the logo 100px to the left */
    margin-top: -80px;
    flex: 1; /* Allow the navbar-brand to grow and take up available space */
    max-width: 200px;
  }

  .navbar-brand img {
  display: inline-block;
  /* margin-top: 15%; */
  }
  
  
  
  
  
  
  @media (max-width: 768px) {
    .navbar-brand {
      position: static; /* Reset position for small screens */
      padding-left: -20px; /* Add padding instead of absolute positioning */
      display: flex;
      align-items: center;
      width: 20px;
      max-width: 160px;
      margin-left: 0;
      
    }
  
    .navbar-brand img {
      margin-left: -1px;
      margin-top: -40px;
    }


    .btn-secondary {
      left: 0; /* Reset positioning for small screens */
      position: static;
      margin-left: -20px; /* Adjust margin instead of relative positioning */
      margin-top: -40px;
    }

    .btn-primary {
      margin-top: -40px;
    }

    .btn-third {
      margin-top: -40px;
    }
  
    header {
      margin-top: -110px;
    }

    header img {
      margin-top: 86px;
    }

    .carousel-control-prev.kovi {
      margin-top: 35%;
    } 
    
    .carousel-control-next.kovi {
      margin-top: 35%;
    }

 


  }
  
  @media (max-width: 2560px) {
    .navbar-brand {
      position: static; 
      padding-left: 20px; 
      align-items: center;
    }
  
    .btn-secondary {
      left: 0; /* Reset positioning for small screens */
    }
  
    header {
      margin-top: -130px;
    }
  }
  
  /* @media (max-width: 986px) {
    .navbar-brand {
      position: static; 
      padding-left: 20px; 
      
      align-items: center;
      margin-left: 0;
    }
  } */



/* offcanvas !important */



/* sneaker dropdown */







/* masik offcanvasok */

.offcanvas-header1 .btn-close {
    margin-left: -3px;
    margin-top: 2px;
    border: 0.3px ridge grey;
    border-radius: 40px;
  }
  
   .offcanvas-start1 {
    margin-left: 2%;
    margin-top: 4%;
    height: 96%;
  } 
  
  ul {
    list-style-type: none;
  }
  
  li {
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  li:hover {
  text-decoration: underline solid 1px black;
  
  }
  

  
  .kosar {
    margin-left: 42%;
    margin-top: 3%;
    font-size: 18px;
    font-weight: bold;
  }
  
  
  .customoffcanvas {
    margin-left: 2%;
  }
  
   .offcanvas {
    margin-right: 2%;
    margin-top: 1%;
    height: 96%;
  } 
  
  
  
  
  
  .custom input {
  padding: 10px;
  }
  
  .custom input::placeholder {
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  
  .offcanvas-body3 span {
  margin-left: 50%;
  font-size: 55px;
  margin-top: 40%;
  
  }
  
  
  
   .offcanvas-body3  .number {
  margin-left: 62%;
  margin-top: -6%;
  background-color: black;
  border-radius: 40px;
  width: 18px;
  color: white;
  text-align: center;
  } 
  
  
  



  
  /* header (slider)  !important*/


  header {
    margin-top: -210px;
  }

 header span .custom2{
   background-color: red;
  }
  header img {
    width: 100%;
  }


 
  @media (max-width: 340px){
    header img {
      width: 500%;
      
    }
  }


  /* cardok 1 resz !important*/



  /* best seller sor */

.row {
    margin-top: 10%;
    margin-left: 5%;
   
}

.card {
    /* width: 25%; */
    width: 26rem;
}


/* különleges sor */




.card img {
    cursor: pointer;
}



.custom {
    height: 80%;
}


.bestseller {
    font-weight: bold;
     font-size: 3rem; 
}

.mosterkezett {
  color: burlywood;
}




/* cipo mozgatas !important */


.yzRNR:hover {
    content: url(card-img/card-yeezyrnr.jpg);
}

.af1:hover {
    content: url(card-img/card-airforce1.jpg);
}

.panda:hover {
    content: url(card-img/card-pandaoldal.jpg);
}






/* jordanek */


.jordan1red:hover {
  content: url(jordan-img/jordan\ 1\ red\ oldal.png);
}

.jordan1b:hover {
content: url(jordan-img/jordan\ 1\ blue\ oldal\ copy\ 2.png);
}

.jordan1fxp:hover {
  content: url(jordan-img/jordan\ 1\ fekete\ piros\ oldal.png);
}

.jordan1zöld:hover {
  content: url(jordan-img/jordan\ 1\ zold\ oldal.png);
}

.jordan1szürke:hover {
  content: url(jordan-img/jordan\ 1\ szürke\ oldal.jpg);
}

.jordan1smoke:hover {
  content: url(jordan-img/jordan1\ smoke\ oldal.jpg);
}

.jordan1yellow:hover {
  content: url(jordan-img/jordan\ 1\ yellow\ oldal.png);
}

.jordan1obsidian:hover {
  content: url(jordan-img/jordan\ 1\ obisidan\ oldal.png);
}

.jordan4millitary:hover {
  content: url(jordan-img/jordan\ 4\ millitary\ oldal.png);
}

.jordan4kekes:hover {
  content: url(jordan-img/jordan\ 4\ kekes\ oldal.png);
}

.jordan4pirosas:hover {
  content: url(jordan-img/jordan\ 4\ piros\ feher\ oldal.png);
}

.jordan4yellow:hover {
  content: url(jordan-img/jordan\ 4\ sarga\ oldal.png);
}

.jordan2feher:hover {
  content: url(jordan-img/jordan\ 2\ feher\ olda.png);
}

.jordan2krem:hover {
  content: url(jordan-img/jordan\ 2\ krem\ oldal.png);
}

.jordan2sarga:hover {
  content: url(jordan-img/jordan\ 2\ sárgás\ oldal.png);
}

.jordan4millitary2:hover {
  content: url(jordan-img/jordan\ 4\ millitary\ elol.png);
}

.jordan3kek:hover {
  content: url(jordan-img/jordan\ 3\ kek\ oldal.png);
}

.jordan3sotet:hover {
  content: url(jordan-img/jordan\ 3\ sotet\ oldal.png);
}

.jordan3zold:hover {
  content: url(jordan-img/jordan\ 3\ zold\ oldal.png);
}

.jordan3vilagos:hover {
  content: url(jordan-img/jordan\ 3\ vilagos\ oldal.png);
}

/*dunkok*/

.dunkkek:hover {
  content: url(dunk-img/dunk\ kek\ oldal.png);
}

.dunkkrem:hover {
  content: url(dunk-img/dunk\ krem\ oldal.png);
}

.dunkrainbow:hover {
  content: url(dunk-img/dunk\ rainbow\ oldal.png);
}

.dunkszurke:hover {
  content: url(dunk-img/dunk\ szurke\ oldal.png);
}

.dunkpiros:hover {
  content: url(dunk-img/dunk\ piros\ oldal.png);
}

.dunkpink:hover {
  content: url(dunk-img/dunk\ pink\ oldal.png);
}

.dunkiron:hover {
  content: url(dunk-img/dunk\ iron\ oldal.png);
}











@media (max-width: 767px) {
    .card {
      width: 50%;
    }
  }

  @media (max-width: 1250px) {
    .card {
      width: 50%;
    }
  }



  /* big pictures !important */


  section .card {
    width: 35rem;
}

.fejlec-bigpicture {
    font-weight: bold;
    font-size: 2rem;
}


  .swiper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
  }
  
  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .swiper-slide {
    flex: 0 0 auto;
    margin-right: 10px; 
    scroll-snap-align: start;
  }
  
  .rownospacebig {
    margin-top: 10%;
  }





  /* elvalaszto !important */


  .row2 {
    margin-top: 8%;
}

.elvalasztocontainer img {
 filter: brightness(50%); 
}




  .centered p {
    margin: 0;
   
  }
 
  .szovegelvalasz {
    color: white;
    position: absolute;
    margin-top: -20%;
    left: 50%; 
      transform: translate(-50%, -50%); 
    z-index: 5000; 
    color: #FFFFFF;
    font-size: 40px;
    font-weight: bold;
  }


  @media (max-width: 576px) {
    /* Adjust font size for smaller screens */
    .szovegelvalasz {
      font-size: 14px;
    }
  }



  /* streetwear !important */

  .rownospace {
    margin-top: 10% ;
  }



/* footer !important */




 


  footer {
    background-color: black;
  }

  footer table {
    background-color: black;

  }

footer  .hatter {
    background-color: black !important;
    color: white;
}

.customtab a {
color: white;
text-decoration: none;
}

.customtab {
  width: 60%;
  /* margin-left: 23%; */
  margin-top: 10%;

  
}

.table-responsive {
  margin-left: 30%;
  width: 80%;

}





@media (max-width: 578px) {
  .table-responsive {
    overflow-x: auto;
   margin-left: 0%;
   width: 100%;
   
  }
  .table-bordered td,
  .table-bordered th {
    border: none; 
  }
  .table-bordered td {
    display: block; 
  }
  .table-bordered td:first-child {
    border-top: none; 
  }
}















/* sneaker html oldal */


.navbar-black {
  background-color: black;
}


 main  .jordanindex {
  margin-left: 0%;
  width: 100%;
  margin-top: 3%;
} 



/* balazsrugas moving */


.text-wrapper h1 {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw; 
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
  padding: 0 10%; 
  letter-spacing: 1px;
  animation: move-rtl 6000ms linear infinite;
} 

.text-wrapper {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: white;
  overflow: hidden;
 
}

@keyframes move-rtl {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}




.background-containerr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(card-img/card-airforce1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}




/* jordanek kicsit balra kis kepernyon */

@media (max-width: 730px) {
  .container-fluid {
    margin-left: -3%;
  }

  .text-wrapper {
    margin-left: 3%;
  }

  
}




















/* AF 1 oldal !important */


/* af1 kepek */



.jobb {
   float: right; 
  margin-top: 5%;
  margin-left: 5%;
}

.leiras span {
  padding: 10px 20px  ;
color: black;
  margin: 5px;

background-color: rgb(255, 255, 255);
border-radius: 6px;
border: 1px solid black;
cursor: pointer;
}


.leiras .meretek {
  margin-top: 15%;
}


#aktiv {
  border: 1px solid black;
}

.cipok {
  cursor: pointer;
}


/* 
video {
  display: block;
  width: 30%;
  height: 100%;
  margin-top: 10%;
  margin-left: 10%;

}



.videotitle {
  margin-top: 30%;
  margin-left: 20%;
} */



/* shieldek */

.shieldek {
  margin-top: 20%;

}

.shield {
  height: 90px;
  width: 70%;
}

.checkbox {
  margin-top: 25px;
  margin-left: 10px;
  /* padding: 24px; */
}

.kepp {
  margin-top: -30px;
  margin-left: 30px;
}

.shieldleiras {
  margin-left: 120px;
  margin-top: -48px;
}

.shieldara {
  margin-left: 120px;
}



/* meretek */

@media (max-width: 730px) {
  .leiras span {
    padding: 10px;
  }
}
